<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Confira nossos produtos:</h1>
    <br>
    <table>
      <thead>
          <tr>
              <th></th>
              <th>Produto:</th>
              <th>Preço:</th>
              <th>Categoria:</th>
          </tr>
      </thead>
      <tbody>
        <% produto.forEach((produto) => { %>
          <tr>
              <td><img src="<%= produto.foto %>" width="175px"></td>
              <td><%= produto.nome %></td>
              <td><%= produto.preco %></td>
              <td><%= produto.categoria %></td>
          </tr>
          <%})%>
  </tbody>
</table>
<%- include ('partials/footer.ejs') %>